
<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>SIS INFO 2</h1>
    </div>
    <div class="card-footer-curso">
        <div class="card-curso">
            <a href="#curso">Avisos</a>
            <a href="#trabajos">Trabajos</a>
            <a href="#calendario">Calendario</a>
        </div>
        
    </div>
    <div class="center-button">
        <button class="crear-tarea" id="show-form" ><a href="newTask">Crear Tarea</a></button>
    </div>
    <div class="hide-form" id="formm">
        <form>
            <p>Nombre de la tarea nueva</p>
            <input type="text" name="tituloTarea" placeholder="Titulo tarea" class="form-control" autofocus>
            <input type="text" name="descripcionTarea" placeholder="Descripción" class="formcontrol" >
        </form>
    </div>
</div>


