<div class="col-md-6 offset-md-3">
    <! -- Estructura de la pagina aqui -->
    <div class="card">
        <div class="card-header">
            hola mundo...2222
        </div>
        <div class="card-body">
            hello world
        </div>
    </div>

</div>