<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            testin
        </div>
        <div class="card-body">
            test
        </div>
    </div>

</div>