<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Cursos</h1>
        </div>
        <div class="card-body">
            <div class="course-one">
                <a href="curso">SIS INFO 2</a>
                <a href="/login">Login</a>
            </div>
        </div>
<div class="card-footer">
    <button class="btn btn-secondary btn-block">
        Añadir Curso
    </button>
</div>