<div class="container">
    
    <h2>Notificaciones Personalizadas</h2>
    <div class="notification">
        <h3>Clase de Matemáticas</h3>
        <p>La clase de matemáticas comienza a las 10:00 AM. ¡No te la pierdas!</p>
        <button class="task-button" onclick="mostrarEspecificacion('Matemáticas')">Ver Especificación</button>
    </div>

    <div class="notification">
        <h3>Examen de Historia</h3>
        <p>Recuerda que tienes un examen de historia programado para mañana a las 9:00 AM.</p>
        <button class="task-button" onclick="mostrarEspecificacion('Historia')">Ver Especificación</button>
    </div>

    <div class="notification">
        <h3>Tarea de Ciencias</h3>
        <p>Se ha asignado una nueva tarea de ciencias. Asegúrate de completarla antes del viernes.</p>
        <button class="task-button" onclick="mostrarEspecificacion('Ciencias')">Ver Especificación</button>
    </div>
</div>