<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tareas asignadas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <! -- Estructura de la pagina aqui -->
    <div id="contenedor">
        <div id="header">
            TEREAS 
        </div>
        
        
       
        <div  id="contenido">
            <div id ="seccion">
                <div id="tareas">
                    tareas asignadas 
                </div>
                <div id ="secciontareas">
                    <div id="tarea1">
                    tarea 1
                            <a href="/modaltareas"class="ver">ver</a>
                            
                            
                    </div>
                    <div id="tarea2">
                    tarea 2
                    <a href="/modaltarea"class="ver2">ver</a>
                   </div>
                   <div id="tarea3">
                    tarea3
                    <a href="/modaltarea"class="ver3">ver</a>
                   </div>
                </div>

            </div>
            
                
           
            <div id = aside>
                <div id="secciontemas">
                    Temas
                </div>
                <div id="temas">
                  
                       <li><a href="#seccion"class="tema1">tema 1</a></li>
                        <li><a href ="#seccion"class="tema2">tema 2</a></li>
                        <li><a href="#seccion"class="tema3">tema 3</a></li>
                        <li><a href="#seccion"class="tema4">tema 4</a></li>
                   
                   
                </div>
                
            </div>
        </di>
    </div>
    
</div>


</body>
</html>
